src/main/mule/Get_Galerias_By_Id.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="Get_Galerias_By_Id_flow" doc:id="d2c465ce-8b41-4574-acb2-dcda6a07cdae" >
		<http:request method="GET" doc:name="Get Galeria by Id" doc:id="31c3b65a-2636-4b0b-aea0-51858848cc6e" config-ref="Obras_Arte_Request" path='#[p("galerias_arte.path.galerias") ++ "/" ++ attributes.uriParams.idGaleria]' sendBodyMode="NEVER">
		</http:request>
		<set-variable value='#[%dw 2.0&#10;output application/json&#10;&#10;import modules::Utility&#10;---&#10;{&#10;	"idGaleria": payload.data.id,&#10;	"nombreGaleria": payload.data.title,&#10;	"fechaAlta": Utility::formatDate(payload.data.timestamp)&#10;}]' doc:name="Galeria" doc:id="193d29ad-30cb-46dc-8c7c-5b7bb56f4fcf" variableName="galeria"/>
		<set-variable value="#[vars.galeria.idGaleria]" doc:name="Id galeria" doc:id="b70894e9-237a-447f-8beb-abf199b413ce" variableName="id_galeria"/>
		<flow-ref doc:name="Obras por Id galeria" doc:id="edbbf244-b6f4-4788-b088-3a8ce847a6e4" name="Obras_By_Id_Galeria_flow"/>
		<ee:transform doc:name="Transform Message" doc:id="4437825b-cafc-4d9f-9142-3d0cb36c5a1b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
vars.galeria ++ {"obrasArte": payload.data map((item)->{
	"idObraArte": item.id,
	"nombreObraArte": item.title
})}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
