src/main/mule/Get_Galerias.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="Get_GaleriasFlow" doc:id="64550913-62e0-46e8-8d4f-d1492ddbced2" >
		<http:request method="GET" doc:name="Get_Galerias" doc:id="0c90cb2c-e701-4f63-822e-745a5194329e" config-ref="Obras_Arte_Request" path="${path.galerias}"/>
		<set-variable value='#[%dw 2.0&#10;output application/json&#10;&#10;fun formatDate(item) = (item as DateTime) as String {format: "dd-MMMM-uuuu, HH:mm:ss a"}&#10;---&#10;//Filtramos el array de data&#10;((payload filterObject ((v, k) -&gt; matches(k,"data"))).data)&#10;//Nos quedamos con los ids&#10;map((item) -&gt; {&#10;	"idGaleria": item.id,&#10;	"nombreGaleria": item.title,&#10;	"fechaAlta": formatDate(item.timestamp)&#10;})]' doc:name="Galerias" doc:id="81b3c908-a02b-4f6c-a4ee-83db00cd3d67" variableName="galerias"/>
<ee:transform doc:name="Transform Message" doc:id="e88c90ba-e4ea-4e5f-8ed0-f69f43ce0e2c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
vars.galerias]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="Response_Payload" ><![CDATA[%dw 2.0
output application/json
---
[]]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="b9e8701b-381d-4035-97a9-b1b3a9eb4b9e">
			<set-variable value="#[payload]" doc:name="Galeria" doc:id="a4bc83fd-2262-4aa1-9b4a-af7373eb354a" variableName="galeria"/>
			<http:request method="GET" doc:name="Request" doc:id="694ee2f8-77a5-4df9-8e94-0a896a694bc3" config-ref="Obras_Arte_Request" path="${path.obras}">
				<http:query-params><![CDATA[#[output application/java
---
{
	"query" : 'gallerie_id%30D' ++ payload.idGaleria as String
}]]]></http:query-params>
			</http:request>
			<set-variable value='#[%dw 2.0&#10;output application/json&#10;---&#10;(payload filterObject((v, k) -&gt; matches(k, "data"))).data]' doc:name="Filtrar data" doc:id="4cf8f18f-9771-4d32-9cfb-a10896c7400f" variableName="data"/>
			<set-variable value='#[vars.Response_Payload + (vars.galeria ++ {"obrasArte": vars.data})]' doc:name="Response Payload" doc:id="21583c4c-b612-49f8-a3de-bac30736e326" variableName="Response_Payload"/>
		</foreach>
		<ee:transform doc:name="Transform Message" doc:id="bc1d66ca-e3da-4138-967b-4074b9f54049" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
vars.Response_Payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
